.page {

   &__hero {}

   &__label {}

   &__repair {}

   &__popular-topics {}
}

// ================================

// Section Hero #1
.hero {
   position: relative;
   // height: 100%;
   width: 100%;
   @include adaptiveValue("padding-top", 200, 80);
   @include adaptiveValue("padding-bottom", 200, 50);

   &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("@img/bible.jpg") 0 0 / 100% no-repeat;
      object-fit: cover;
      z-index: 1;
   }

   // &__contanier {}

   // &__body {}

   &__title {
      @include adaptiveValue("font-size", 40, 15);
      color: $whiteColor;
      position: relative;
      @include adaptiveValue("line-height", 170%, 140%);
      height: auto;
      z-index: 2;
      width: 80%;
   }
}

// ================================

// Section Lebel-page #2
.label-page {
   @include adaptiveValue("padding-top", 80, 30);
   @include adaptiveValue("padding-bottom", 80, 30);
   background-color: black;
   color: white;

   // &__container {}

   &__title {
      @include adaptiveValue("font-size", 45, 15);
      text-align: center;

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 15);
      }
   }

   &__title-sub {
      @include adaptiveValue("font-size", 30, 13);
      text-align: center;
   }
}

// ================================

// Section Repair #3
.repair {
   @include adaptiveValue("padding-top", 120, 60);
   @include adaptiveValue("padding-bottom", 120, 60);
   position: relative;
   background-color: gainsboro;

   &::after,
   &::before {
      content: "";
      position: absolute;
      width: rem(400);
      height: rem(300);
      z-index: 1;
      background: url(@img/decor/decor.svg) 0 0 / 100% no-repeat;
   }

   &::after {
      right: 10%;
      top: 0;
   }

   &::before {
      left: 10%;
      bottom: 30%;
      transform: rotate(35deg);
   }

   &__container {
      display: grid;
      gap: rem(40);
      @include adaptiveValue("gap", 40, 20);
      grid-template-columns: 1fr 1fr;

      @media (max-width: $tablet) {
         grid-template-columns: 1fr;
         justify-items: center;
      }
   }

   // Content text
   &__body {
      z-index: 2;
   }

   // Slider
   &__media {
      z-index: 2;
   }

   // Slider
   &__slider {
      @include adaptiveValue("width", 600, 400);
      @include adaptiveValue("height", 400, 300);

      @media (max-width:$mobileSmall) {
         @include adaptiveValue("width", 600, 300);
         @include adaptiveValue("height", 400, 200);
      }
   }
}

// Content text
.repair-body {
   color: $blackColor;

   &__title {
      @include adaptiveValue("font-size", 40, 30);
      margin-bottom: rem(20);
   }

   &__text {
      @include adaptiveValue("font-size", 25, 20);
      line-height: 130%;
   }
}

// Slider #1
.repair-slider {
   &__slide {
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   // Slider button
   &__arrow {
      padding-top: rem(10);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(70);
   }

   // Arrow left
   &__button-prev {
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      height: rem(50);
      background-color: $mainColor;
      border-radius: rem(50);
      padding: rem(8);

      &.swiper-button-disabled {
         background-color: #3d3e3e;

         @media (any-hover: hover) {
            &:hover {
               background-color: #3d3e3e;
            }
         }
      }

      img {
         width: 100%;
         height: 100%;
      }

      @media (any-hover: hover) {
         &:hover {
            background-color: $darkColor;
         }
      }
   }

   // Arrow right
   &__button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      height: rem(50);
      background-color: $mainColor;
      border-radius: rem(50);
      padding: rem(8);

      &.swiper-button-disabled {
         background-color: #3d3e3e;

         @media (any-hover: hover) {
            &:hover {
               background-color: #3d3e3e;
            }
         }
      }

      img {
         width: 100%;
         height: 100%;
      }

      @media (any-hover: hover) {
         &:hover {
            background-color: $darkColor;
         }
      }
   }
}

// ================================

// Section Popular topics
.popular-topics {
   @include adaptiveValue("padding-top", 60, 0);
   @include adaptiveValue("padding-bottom", 120, 60);
   background-color: gainsboro;
   position: relative;

   &::after,
   &::before {
      content: "";
      position: absolute;
      width: rem(400);
      height: rem(300);
      z-index: 1;
      background: url(@img/decor/decor.svg) 0 0 / 100% no-repeat;
   }

   &::after {
      right: 25%;
      bottom: 8%;
      transform: rotate(20deg);
   }

   &::before {
      left: 15%;
      top: 2%;
   }

   &__title {
      @include adaptiveValue("font-size", 50, 30);
      color: $blackColor;
      letter-spacing: rem(3);
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
      position: relative;
      z-index: 2;

      @media (max-width: $mobile) {
         flex-direction: column;
      }
   }

   &__navigation {
      display: flex;
      @include adaptiveValue("gap", 20, 10);
   }

   &__label {
      @include adaptiveValue("font-size", 30, 18);
      color: $blackColor;
      white-space: nowrap;
      letter-spacing: rem(1);

      @media (any-hover: hover) {
         &:hover {
            color: $mainColor;
            transition: color 0.8s ease 0s;
         }
      }

      &._tab-active {
         text-decoration: underline;

      }

      &:focus {
         color: $blackColor;
      }
   }

   &__content {
      padding-top: rem(20);
   }
}

// Первый таб
.body-sermons {
   position: relative;
   z-index: 2;

   &__title {
      @include adaptiveValue("font-size", 30, 20);
      color: $blackColor;
      padding-bottom: rem(30);
      letter-spacing: rem(3);
   }

   &__slider {
      @include adaptiveValue("max-width", 1200, 320);
      max-height: rem(900)
   }

   // &__wrapper {}

   &__slide {
      video {
         border-radius: rem(8);
      }
   }

   // &__video {}

   // Стрелки 
   &__arrow {
      padding-top: rem(30);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(70);
   }

   // Arrow left
   &__slider-button-prev {
      transform: rotate(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      height: rem(50);
      background-color: $mainColor;
      border-radius: rem(50);
      padding: rem(8);

      &.swiper-button-disabled {
         background-color: #3d3e3e;

         @media (any-hover: hover) {
            &:hover {
               background-color: #3d3e3e;
            }
         }
      }

      img {
         width: 100%;
         height: 100%;
      }

      @media (any-hover: hover) {
         &:hover {
            background-color: $blackColor;
         }
      }
   }

   // Arrow right
   &__slider-button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      height: rem(50);
      background-color: $mainColor;
      border-radius: rem(50);
      padding: rem(8);

      &.swiper-button-disabled {
         background-color: #3d3e3e;

         @media (any-hover: hover) {
            &:hover {
               background-color: #3d3e3e;
            }
         }
      }

      img {
         width: 100%;
         height: 100%;
      }

      @media (any-hover: hover) {
         &:hover {
            background-color: $darkColor;
         }
      }
   }
}

// Слайд 
.swiper-slide {
   &__video {
      @include adaptiveValue("width", 1200, 300);
      @include adaptiveValue("height", 700, 400);

      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }

   &__title {

      color: $blackColor;
      font-size: rem(25);
   }
}


// Второй таб
.body-gallery {
   position: relative;
   z-index: 2;

   // Заголовок
   &__title {
      @include adaptiveValue("font-size", 30, 20);
      color: $blackColor;
      padding-bottom: rem(30);
      letter-spacing: rem(3);
   }

   &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include adaptiveValue("gap", 30, 20);

      @media (max-width: $tablet) {
         grid-template-columns: 1fr 1fr;
      }

      @media (max-width: $mobileSmall) {
         grid-template-columns: 1fr;
      }
   }

   // image
   &__photo {
      max-width: rem(400);
      max-height: rem(400);
      z-index: 2;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
         border-radius: rem(8);
         transition: all 0.8s ease 0s;

         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.1);
               box-shadow: #a2a5a5 66px 66px 66px 66px;
            }
         }
      }
   }
}

// ================================
// Page #2 Страница
.contact {
   position: relative;
   min-width: 100%;
   min-height: 100%;

   // &::before {
   //    content: "";
   //    position: absolute;
   //    width: 100%;
   //    height: rem(90);
   //    left: 0;
   //    top: 0;
   //    background-color: #7c8282;
   //    z-index: 2;
   // }

   &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("@img/siloam.jpeg") 0 0 no-repeat;
      background-position: left;
      object-fit: cover;
      z-index: 1;
   }

   &__container {}

   &__body {
      position: relative;
      z-index: 2;
      padding-top: 120px;
      @include adaptiveValue("padding-bottom", 80, 50);
   }

   &__map {
      border-top: solid black 2px;
      position: relative;
      z-index: 2;
      width: 100%;
      height: rem(400);
   }
}

.body-contact {
   &__title {
      @include adaptiveValue("font-size", 40, 25);
      font-weight: 700;
      color: $blackColor;
      letter-spacing: rem(1);

      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }

   &__list {
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }

   &__item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(10);

      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }

   &__strong {
      @include adaptiveValue("font-size", 25, 20);
      font-weight: 700;
      color: $blackColor;
      letter-spacing: rem(1);
      white-space: nowrap;
   }

   &__text {
      font-size: rem(18);
      color: #3d3e3e;
      font-weight: 400;
      white-space: nowrap;
   }

   &__link {
      font-size: rem(18);
      color: #3d3e3e;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: rem(10);
      transition: all 0.6s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
            font-size: rem(18);
            color: #1a1c1c;
         }
      }

      img {
         height: rem(30);
         width: rem(30);
      }
   }
}